---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Опубликовано {% assign m = page.date | date: "%-m" %}
				{{ page.date | date: "%-d" }}
				{% case m %}
				{% when '1' %}Январь
				{% when '2' %}Февраль
				{% when '3' %}Март
				{% when '4' %}Апрель
				{% when '5' %}Май
				{% when '6' %}Июнь
				{% when '7' %}Июль
				{% when '8' %}Август
				{% when '9' %}Сентябрь
				{% when '10' %}Октябрь
				{% when '11' %}Ноябрь
				{% when '12' %}Декабрь
				{% endcase %}
				{{ page.date | date: "%Y" }}
  </div>

  {% include disqus.html %}
</article>
